* {
    font-family: "Karla", sans-serif;
}

a {
    text-decoration: none;
}

.cta-button {
    background: #F4CE14;
    width: 200px;
    height: 60px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 1px #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}
.cta-button:hover {
    background: #e7cf5b;
}

.cta-button:active {
    opacity: 0.8;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
    padding: 20px 20%;
    z-index: 99999;
}

header div.header-banner {
    background: #495E57;
    color: #fff;
}

header div.nav {
    display: grid;
    grid-template-columns: 30% 70%;
}

header div.nav img.logo {
    height: 45px;
    margin-top: 7px;
}

header div.nav img.menu-icon {
    margin: 0 0 0 20px;
    height: 40px;
    margin-top: 7px;
    display: none;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
    background: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #495E57;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #8eb3a6;
}

main section {
    padding: 40px 20%;
}

main section .title {
    font-family: "Markazi Text", serif;
    font-size: 64px;
}

main section .subtitle {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    line-height: 0.9;
}

/*Hero*/
section.hero {
    background: #495E57;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
}

section.hero .image {
    width: 22%;
    max-height: 360px;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    margin-top: 20px;
    right: 0;
    margin-right: 20%;
}

section.hero .image img {
    border-radius: 20px;
    width: 320px;
}

section.hero .title {
    color: #F4CE14;
    line-height: 0.8;
}

section.hero .description {
    width: 57%;
    display: block;
    font-size: 20.5;
    line-height: 1.5;
    margin-top: 10px;
}

section.hero .cta-button {
    display: block;
    margin-top: 10px;
}

/* Specials*/
section.specials {
    margin-top: 50px;
}

section.specials button.online-menu {
    float: right;
}

section.specials .items {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    gap: 10px;
    margin-top: 40px;
    align-items: start;
}

section.specials .items .item {
    background: #EDEFEE;
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 0 -3px 5px -5px #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: top;
    position: relative;
}

section.specials .items .item .img-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 184px;
    overflow: hidden;
}

section.specials .items .item  .img-container img {
    height: 210px;
}

section.specials .items .item .text {
    padding: 20px 20px 30px 20px;
    height: 200px;
}

section.specials .items .item .text .title {
    font-family: "Markazi Text", serif;
    font-size: 24px;
    line-height: 0.5;
}

section.specials .items .item .text .price {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: -15px;
    margin-right: 20px;
    color: #EE9972;
}

section.specials .items .item .text .description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: regular;
    color: #495E57;
}

section.specials .items .item .text .order-link {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

section.specials .items .item .text .order-link a {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

section.specials .items .item .text .order-link img {
    width: 30px;
    margin: -5px 0 0 20px;
}

/*Testimonials*/
section.testimonials {
    background: #D9D9D9;
    padding-top: 100px;
    padding-bottom: 120px;
}

section.testimonials .title {
    font-size: 50px;
    text-align: center;
}

section.testimonials .items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
}

section.testimonials .items .item {
    background: #fff;
    padding: 20px;
}

section.testimonials .items .item .rating span {
    font-size: 14px;
    font-weight: bold;
}

section.testimonials .items .item .rating img {
    width: 14px;
    margin-top: 2px;
    float: right;
}

section.testimonials .items .item .person {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

section.testimonials .items .item .person img {
    width: 50px;
}

section.testimonials .items .item .person .name {
    font-size: 13px;
    font-weight: bold;
}

section.testimonials .items .item .review {
    margin-top: 10px;
    font-size: 13px;
}

/*About*/
section.about {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
}

section.about .text .description {
    width: 80%;
    font-size: 20.5;
    line-height: 1.5;
    margin-top: 10px;
}

section.about img {
    width: 400px;
}



/*Footer*/
footer {
    background: #495E57;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    color: #fff;
    padding: 20px 20%;
}

footer div h4 {
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    font-size: 14px;
    padding: 2px 0;
    margin: 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #8eb3a6;
}

footer .contact img {
    width: 13px;
}

footer .social-media img {
    width: 30px;
    margin: 10px 5px 0 0;
}

footer .social-media img:hover {
    opacity: 0.5;
}

input, select {
    font-size: 18px;
}

@media screen and (max-width: 1050px) {
    section.testimonials .items {
        grid-template-columns: repeat(2, 50%);
    }

    section.testimonials .items .item .person {
        grid-template-columns: 100%;
    }

    section.testimonials .items .item .person span.name {
        margin-top: 5px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        padding: 0;
    }

    header div.nav img.logo, footer div {
        margin-left: 20px;
    }

    section.hero {
        padding: 20px;
    }

    section.hero .image {
        width: 30%;
        max-height: 300px;
        margin-right: 5%;
    }

    section.hero .image img {
        width: 260px;
    }

    section.specials {
        padding: 20px;
    }

    footer {
        padding: 20px 0;
    }
}

@media screen and (max-width: 860px) {
    section.about img {
        display: none;
    }

    section.about {
        display: grid;
        grid-template-columns: 100%;
    }

    section.about img {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding: 3px 0;
    }
    header div.nav img.menu-icon {
        display: block;
        position: fixed;
        right: 0;
        margin-right: 20px;
        color: #495E57;
        width: 25px;
    }

    nav ul {
        display: none;
        position: fixed;
        right: 0;
        margin: 48px 0 0 0;
        text-align: center;
        width: 150px;
        padding: 0;
    }

    nav ul li {
        padding: 5px;
    }
}

@media screen and (max-width: 658px) {
    footer {
        grid-template-columns: repeat(3, 33.3333%);
    }
}

@media screen and (max-width: 645px) {
    section.specials {
        margin-top: 20px;
    }

    section.specials .header {
        display: grid;
        grid-template-columns: 100%;
    }

    section.specials .header .title {
        font-size: 45px;
    }

    section.specials .items {
        grid-template-columns: 100%;
    }

    section.specials .items .item .text {
        height: auto;
    }
    section.specials .items .item .text .order-link {
        margin-top: 20px;
        position: relative;
    }
}

@media screen and (max-width: 595px) {
    section.hero {
        grid-template-columns: 100%;
    }

    section.hero .image img {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    section.testimonials {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section.testimonials .title {
        font-size: 30px;
    }

    section.testimonials .items {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 447px) {
    footer {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 316px) {
    nav ul {
        width: 100%;
    }
}

@media screen and (max-width: 250px) {
    nav ul {
        width: 100%;
    }
}

@media screen and (max-width: 238px) {
    section.hero .title {
        font-size: 30px;
    }

    section.hero .subtitle {
        font-size: 25px;
    }

    section.hero .cta-button, section.specials .cta-button {
        width: 100%;
    }

    section.specials .header .title {
        font-size: 30px;
    }

    section.specials .header .subtitle {
        font-size: 25px;
    }
}