* {
    font-family: "Karla", sans-serif;
}

a {
    text-decoration: none;
}

.cta-button {
    background: #F4CE14;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 0px 1px #ad9208;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.cta-button:hover {
    background: #f9e78a;
}

.cta-button:active {
    opacity: 0.8;
}

form label.radio {
    cursor: pointer;
    padding: 10px 0;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
    padding: 20px 20%;
    z-index: 99999;
}

header div.header-banner {
    background: #495E57;
    color: #fff;
}

header div.nav {
    display: grid;
    grid-template-columns: 30% 70%;
}

header div.nav img.logo {
    height: 45px;
    margin-top: 7px;
}

header div.nav img.menu-icon {
    margin: 0 0 0 20px;
    height: 40px;
    margin-top: 7px;
    display: none;
}

.breadcrumbs {
    background: #495E57;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
    background: #fff;
}

nav ul li a {
    text-decoration: none;
    color: #495E57;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}

nav ul li a:hover, nav ul li a.active {
    color: #fff;
    background: #495E57;
}

main section {
    padding: 40px 20%;
    position: relative;
}

main section .title {
    font-family: "Markazi Text", serif;
    font-size: 64px;
}

main section .subtitle {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    line-height: 0.9;
}

/*Hero*/
section.hero {
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
}

section.hero .image {
    width: 22%;
    max-height: 360px;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    margin-top: 20px;
    right: 0;
    margin-right: 20%;
}

section.hero .image img {
    border-radius: 20px;
    width: 320px;
}

section.hero .title {
    color: #F4CE14;
    line-height: 0.8;
}

section.hero .description {
    width: 57%;
    display: block;
    font-size: 20.5;
    line-height: 1.5;
    margin-top: 10px;
}

section.hero .cta-button {
    display: block;
    margin-top: 10px;
}

/* Specials */
section.specials {
    margin-top: 50px;
}

section.specials button.online-menu {
    margin-top: 20px;
    float: right;
}

section.specials .items {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    gap: 10px;
    margin-top: 40px;
    align-items: start;
}

section.specials .items .item {
    background: #EDEFEE;
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 0 -3px 5px -5px #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: top;
    position: relative;
}

section.specials .items .item .img-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 184px;
    overflow: hidden;
}

section.specials .items .item  .img-container img {
    width: 120%;
}

section.specials .items .item .text {
    padding: 20px 20px 30px 20px;
    height: 200px;
}

section.specials .items .item .text .title {
    font-family: "Markazi Text", serif;
    font-size: 24px;
    line-height: 0.5;
}

section.specials .items .item .text .price {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: -15px;
    margin-right: 20px;
    color: #EE9972;
}

section.specials .items .item .text .description {
    margin-top: 20px;
    font-size: 16px;
    font-weight: regular;
    color: #495E57;
}

section.specials .items .item .text .order-link {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

section.specials .items .item .text .order-link a {
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

section.specials .items .item .text .order-link img {
    width: 30px;
    margin: -5px 0 0 20px;
}

/*Testimonials*/
section.testimonials {
    background: #D9D9D9;
    padding-top: 100px;
    padding-bottom: 120px;
}

section.testimonials .title {
    font-size: 50px;
    text-align: center;
}

section.testimonials .items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
}

section.testimonials .items .item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

section.testimonials .items .item .rating span {
    font-size: 14px;
    font-weight: bold;
}

section.testimonials .items .item .rating img {
    width: 14px;
    margin-top: 2px;
    float: right;
}

section.testimonials .items .item .person {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

section.testimonials .items .item .person img {
    width: 50px;
}

section.testimonials .items .item .person .name {
    font-size: 13px;
    font-weight: bold;
}

section.testimonials .items .item .review {
    margin-top: 10px;
    font-size: 13px;
}

/*About*/
section.about {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
}

section.about .text .description {
    width: 80%;
    font-size: 20.5;
    line-height: 1.5;
    margin-top: 10px;
}

section.about .image {
    position: relative;
}

section.about .image img {
    position: relative;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0.1px 0px 2px #474747;
    transition: width 0.1s ease-out;
}

section.about .image img:hover {
    position: relative;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0.1px 0px 2px #474747;
    z-index: 3;
}

section.about .image img:first-child {
    position: absolute;
    margin-top: -20px;
    right: 0;
    z-index: 2;
}

section.about div img:last-child {
    position: absolute;
    margin-top: 20px;
    right: 0;
    margin-right: 160px;
    z-index: 1;
}



/*Footer*/
footer {
    background: #495E57;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    color: #fff;
    padding: 20px 20%;
}

footer div h4 {
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

footer ul li {
    font-size: 14px;
    padding: 2px 0;
    margin: 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #8eb3a6;
}

footer .contact img {
    width: 13px;
}

footer .social-media img {
    width: 30px;
    margin: 10px 5px 0 0;
}

footer .social-media img:hover {
    opacity: 0.5;
}

/* Reservation */

section.reservation {
    padding: 20px 20% 40px;
    color: #fff;
}

section.reservation .title {
    color: #F4CE14;
    line-height: 0.8;
}

.booking-form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
    row-gap: 10px;
}

.booking-form .seating {
    margin-bottom: 20px;
}

section.reservation input:not(.cta-button):not([type="radio"]):not([type="checkbox"]),
section.reservation select, section.reservation textarea {
    color: #495E57;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0.5px 3px #2e2e2e;
    width: 100%;
    margin-top: 10px;
}

section.reservation input[type="radio"] {
    margin-left: 30px;
}

input[type="date"] {
    background-image: url('data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPy0tPgo8IS0tIFN2ZyBWZWN0b3IgSWNvbnMgOiBodHRwOi8vd3d3Lm9ubGluZXdlYmZvbnRzLmNvbS9pY29uIC0tPgoKPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjU2IDI1NiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxtZXRhZGF0YT4gU3ZnIFZlY3RvciBJY29ucyA6IGh0dHA6Ly93d3cub25saW5ld2ViZm9udHMuY29tL2ljb24gPC9tZXRhZGF0YT4KPGc+PGc+PGc+PHBhdGggZmlsbD0iIzQ5NUU1NyIgZGF0YS10aXRsZT0iTGF5ZXIgMCIgeHM9IjAiIGQ9Ik0yOC44LDU3LjZDMjEuNiw1OS4zLDE1LjMsNjQuMywxMiw3MWwtMiw0djUuN2MwLDUsMC4xLDYuMSwxLjIsOC43YzAuNywxLjYsMS45LDQsMi44LDUuMmMwLjksMS4yLDI1LjIsMjQuNyw1NC4xLDUyLjJsNTIuNCw1MGwzLjgsMS4yYzQuNiwxLjUsNy4xLDEuMywxMC4zLTAuNmMzLjItMS45LDEwNS45LTEwMC44LDEwNy45LTEwMy44YzIuNS0zLjksMy41LTcuNiwzLjUtMTIuNWMwLTcuMS0yLjItMTItNy40LTE3LjFjLTguMS03LjgtMjAuOS05LTMwLjQtMy4xYy0xLjMsMC44LTE4LjEsMTYuNy0zNy40LDM1LjNjLTM4LjUsMzcuMS0zNy44LDM2LjUtNDIuNywzNS45Yy02LTAuNi00LjcsMC41LTQyLjktMzYuMUM2Niw3Ny41LDQ5LjEsNjEuNyw0Ny44LDYwLjlDNDIuNiw1Ny42LDM0LjgsNTYuMywyOC44LDU3LjZ6Ii8+PC9nPjwvZz48L2c+Cjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    padding: 8px 0 !important;
    text-indent: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: block;
}

section.reservation select {
    appearance: none; /* Disable the default arrow */
    -webkit-appearance: none; /* For WebKit-based browsers */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;base64,PCEtLT94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPy0tPgo8IS0tIFN2ZyBWZWN0b3IgSWNvbnMgOiBodHRwOi8vd3d3Lm9ubGluZXdlYmZvbnRzLmNvbS9pY29uIC0tPgoKPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjU2IDI1NiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxtZXRhZGF0YT4gU3ZnIFZlY3RvciBJY29ucyA6IGh0dHA6Ly93d3cub25saW5ld2ViZm9udHMuY29tL2ljb24gPC9tZXRhZGF0YT4KPGc+PGc+PGc+PHBhdGggZmlsbD0iIzQ5NUU1NyIgZGF0YS10aXRsZT0iTGF5ZXIgMCIgeHM9IjAiIGQ9Ik0yOC44LDU3LjZDMjEuNiw1OS4zLDE1LjMsNjQuMywxMiw3MWwtMiw0djUuN2MwLDUsMC4xLDYuMSwxLjIsOC43YzAuNywxLjYsMS45LDQsMi44LDUuMmMwLjksMS4yLDI1LjIsMjQuNyw1NC4xLDUyLjJsNTIuNCw1MGwzLjgsMS4yYzQuNiwxLjUsNy4xLDEuMywxMC4zLTAuNmMzLjItMS45LDEwNS45LTEwMC44LDEwNy45LTEwMy44YzIuNS0zLjksMy41LTcuNiwzLjUtMTIuNWMwLTcuMS0yLjItMTItNy40LTE3LjFjLTguMS03LjgtMjAuOS05LTMwLjQtMy4xYy0xLjMsMC44LTE4LjEsMTYuNy0zNy40LDM1LjNjLTM4LjUsMzcuMS0zNy44LDM2LjUtNDIuNywzNS45Yy02LTAuNi00LjcsMC41LTQyLjktMzYuMUM2Niw3Ny41LDQ5LjEsNjEuNyw0Ny44LDYwLjlDNDIuNiw1Ny42LDM0LjgsNTYuMywyOC44LDU3LjZ6Ii8+PC9nPjwvZz48L2c+Cjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

.reservation-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.reservation-photos .reservation-photo {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}

.reservation-photos img {
    border-radius: 20px;
    width: 100%;
}

.reservation-submit-button {
    margin-top: 30px;
    text-align: center;
}

.booking-form .reservation-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.booking-form .reservation-details div:hover {
    cursor: pointer;
    opacity: 0.7;
}

.booking-form .reservation-details div img {
    width:30px;
    margin-right: 15px;
    color:#fff;
}

.booking-form a {
    text-decoration: underline;
    color: #fff;
}

.booking-form a:hover {
    color: #85a89c;
}

section .reservation-confirmed-message {
    color: #495E57;
    background: #fff;
    z-index: 5;
    width: 400px;
    padding: 30px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .reservation-confirmed-message.active {
    display: block;
}

section.error {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    header {
        padding: 20px 10%;
    }

    header div.nav img.logo, footer div {
        margin-left: 10px;
    }

    section.hero {
        padding: 20px 10%;
    }

    section.hero .image {
        width: 290px;
        max-height: 300px;
        margin-right: 15%;
    }

    section.hero .image img {
        width: 290px;
    }

    section.specials {
        padding: 20px 10%;
    }

    section.about {
        padding: 70px 10%;
    }

    footer {
        padding: 20px 10%;
    }
}

@media screen and (max-width: 1050px) {
    section.testimonials .items {
        grid-template-columns: repeat(2, 50%);
    }

    section.testimonials .items .item .person {
        grid-template-columns: 100%;
    }

    section.testimonials .items .item .person span.name {
        margin-top: 5px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        padding: 5px 0;
    }

    header div.nav img.logo, footer div {
        margin-left: 20px;
    }

    section.hero {
        padding: 20px;
    }

    section.hero .image {
        width: 260px;
        margin-right: 7.5%;
    }

    section.hero .image img {
        width: 260px;
    }

    section.specials {
        padding: 20px;
    }

    section.specials .items {
        gap: 10px;
        padding: 20px;
    }

    footer {
        padding: 20px 0;
    }
}

@media screen and (max-width: 963px) {
    .booking-form .reservation-details div {
        display: grid;
    }
}

@media screen and (max-width: 860px) {
    section.about {
        padding: 40px 10%;
    }

    section.about img {
        display: none;
    }

    section.about {
        display: grid;
        grid-template-columns: 100%;
    }

    section.about img {
        display: none;
    }

    section.error {
        display: block;
        font-size: 50px;
    }

    section.error img {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    section .reservation-confirmed-message {
        width: 300px;
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    section.specials .items .item .img-container {
        height: 150px;
    }
}

@media screen and (max-width: 700px) {
    header div.nav img.menu-icon {
        display: block;
        position: fixed;
        right: 0;
        margin-right: 20px;
        color: #495E57;
        width: 25px;
    }

    nav ul {
        display: none;
        position: fixed;
        right: 0;
        margin: 48px 0 0 0;
        text-align: center;
        width: 150px;
        padding: 0;
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        padding: 10px;
    }

    .booking-form {
        display: block;
    }

    section .reservation-confirmed-message {
        width: 250px;
        font-size: 15px;
        padding: 10px;
    }
}

@media screen and (max-width: 658px) {
    footer {
        grid-template-columns: repeat(3, 33.3333%);
    }
}

@media screen and (max-width: 649px) {
    section.hero {
        grid-template-columns: 100%;
    }

    section.hero .image img {
        display: none;
    }
}

@media screen and (max-width: 645px) {
    section.specials {
        margin-top: 20px;
    }

    section.specials .header {
        display: grid;
        grid-template-columns: 100%;
    }

    section.specials .header .title {
        font-size: 45px;
    }

    section.specials .items {
        grid-template-columns: 100%;
    }

    section.specials .items .item .text {
        height: auto;
    }
    section.specials .items .item .text .order-link {
        margin-top: 20px;
        position: relative;
    }
}

@media screen and (max-width: 540px) {
    section.testimonials {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    section.testimonials .title {
        font-size: 30px;
    }

    section.testimonials .items {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 447px) {
    footer {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 439px) {
    section.reservation .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 316px) {
    nav ul {
        width: 100%;
    }

    section .reservation-confirmed-message {
        width: 100%;
    }

    .cta-button {
        width: 100%;
    }
}

@media screen and (max-width: 250px) {
    nav ul {
        width: 100%;
    }
}

@media screen and (max-width: 238px) {
    section.hero .title {
        font-size: 30px;
    }

    section.hero .subtitle {
        font-size: 25px;
    }

    section.hero .cta-button, section.specials .cta-button {
        width: 100%;
    }

    section.specials .header .title {
        font-size: 30px;
    }

    section.specials .header .subtitle {
        font-size: 25px;
    }
}